$poppins: unquote('Poppins'), sans-serif;
$openSans: unquote('Open Sans'), sans-serif;

@mixin headline1 {
  font-family: $poppins;
  font-size: 5.8125rem;
  letter-spacing: -1.5px;
}
@mixin headline2 {
  font-family: $poppins;
  font-size: 3.625rem;
  letter-spacing: -0.5px;
}
@mixin headline3 {
  font-family: $poppins;
  font-size: 2.875rem;
  letter-spacing: 0;
}
@mixin headline4 {
  font-family: $poppins;
  font-size: 2.0625rem;
  letter-spacing: 0.25px;
}
@mixin headline5 {
  font-family: $poppins;
  font-size: 1.4375rem;
  letter-spacing: 0;
}
@mixin headline6 {
  font-family: $poppins;
  font-size: 1.1875rem;
  letter-spacing: 0.15px;
}
@mixin body1 {
  font-family: $openSans;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
@mixin body2 {
  font-family: $openSans;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
}
@mixin subtitle1 {
  font-family: $poppins;
  font-size: 0.9375rem;
  letter-spacing: 0.15px;
}
@mixin subtitle2 {
  font-family: $poppins;
  font-size: 0.8125rem;
  letter-spacing: 0.1px;
}
@mixin button {
  font-family: $openSans;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.25px;
}
@mixin overline {
  font-family: $openSans;
  font-size: 0.625rem;
}
@mixin caption {
  font-family: $openSans;
  font-size: 0.875rem;
}
