@import '../../sass/index';

.list {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  .avatar {
    margin-right: 1.5rem;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  .event-info {
    .name {
      @include headline5;
    }
    .event-name {
      @include subtitle1;
      opacity: 0.8;
    }
    .event-age {
      @include subtitle2;
      &::after {
        content: ' years';
      }
    }
  }
  &:first-child {
    margin-top: 0;
  }
}
